html {
  height: 100%;
}
.color {
  color: #ce3b28;
}
.gray {
  color: #999;
}
/*font size*/
.fs20 {
  font-size: 0.26666667rem;
}
.fs22 {
  font-size: 0.29333333rem;
}
.fs24 {
  font-size: 0.32rem;
}
.fs26 {
  font-size: 0.34666667rem;
}
.fs30 {
  font-size: 0.4rem;
}
.fs48 {
  font-size: 0.64rem;
}
.fs56 {
  font-size: 0.74666667rem;
}
/* 伸缩布局容器 */
/* 伸缩性 */
/* 伸缩方向为垂直方向 */
/* 侧轴方向居中对齐 */
/* 主轴和侧轴方向居中对齐 */
/* 文字溢出隐藏 */
/* 图片自适应 */
/* 清除浮动 */
/* 字体自适应 */
/* 常用箭头（实心三角） */
/* 常用箭头（边框） */
/* 重置样式 */
html,
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
abbr,
article,
aside,
command,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
th,
figcaption {
  font-weight: normal;
  font-style: normal;
}
fieldset,
iframe {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul {
  list-style: none outside;
}
a,
ins {
  text-decoration: none;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption,
details,
summary {
  display: block;
}
img,
a img {
  border: 0;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
/* 去掉点击后Android边框和IOS的默认背景 */
a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
input {
  outline: 0;
}
/* 表单[[ */
input::-webkit-input-placeholder {
  color: #afafaf;
}
sbutton,
html,
input,
select,
textarea {
  font-family: PingFang-SC-Regular, Helvetica Neue, Helvetica, microsoft yahei, sans-serif, sans-serif;
}
body {
  font-size: 13px;
  line-height: 1;
  color: #000;
}
/*自适应*/
html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}
#view {
  height: 100%;
  min-height: 100%;
}
/*margin and padding*/
.mt_a {
  margin-top: 0.26667rem;
}
/*mt10*/
.mt10 {
  margin-top: 10px;
}
.pt10 {
  padding-top: 10px;
}
/*txt*/
.tac {
  text-align: center;
}
.f_c_ce3b28 {
  color: #ce3b28;
}
/* 隐藏 & 显示 配合js */
.fn-hide {
  display: none !important;
}
.fn-show {
  display: block;
}
.fn-pr {
  position: relative;
}
.text-center {
  text-align: center;
}
/* 浮动 */
.fn-left,
.fl {
  float: left;
}
.fn-right,
.fr {
  float: right;
}
/* 清除浮动 */
.fn-clear {
  zoom: 1;
}
.fn-clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.imgauto {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.store-img .imgauto {
  min-height: 62px;
}
.db {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fx1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.vm {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.vh {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
}
.text-of,
.ect {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-sub {
  color: #afafaf;
}
.c-main {
  color: #ce3b28;
}
body {
  background-color: #eee;
}
/* 按钮[[ */
.btn {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  background-color: #ce3b28;
  color: #fff;
  font-size: 15px;
  text-align: center;
}
.btn:active {
  background-color: #9b2415;
}
/* 不可点按钮 */
.btn.btn-disable {
  background-color: #a0a0a0;
}
.btn.btn-disable:active {
  background-color: #a0a0a0;
}
.btn-bottom .btn.btn-disable,
.btn-bottom .btn.btn-disable:active {
  display: inline-table;
  padding: 0 1.5rem;
}
/* 按钮]] */
/* 底部固定按钮[[ */
.btn-bottom {
  padding-top: 53px;
  position: relative;
  z-index: 112;
}
.btn-bottom .btn-fix {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #e7e7e9;
}
.btn-fix .btn-chloice-list {
  color: #007aff;
  font-size: 14px;
}
.btn-fix .btn-chloice-list:after {
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0.4rem;
  top: 50%;
  margin-top: -6px;
}
.btn-bottom .btn {
  display: block;
}
.btn-bottom .btn-two {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  background-color: #ccc;
}
.btn-bottom .btn-two .price-left {
  padding: 0 0.8rem 0 0.4rem;
  font-size: 15px;
  min-width: 150px;
}
.btn-bottom .btn-two .btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 124;
}
.btn-bottom .btn-a0a0a0 {
  background: #a0a0a0;
}
/* 底部固定按钮]] */
/* 表单[[ */
input::-webkit-input-placeholder {
  color: #afafaf;
}
/* 输入框 */
.in-text,
.in-date,
.input-time {
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  background: #fff;
}
.form-wrap {
  margin-bottom: 10px;
}
.mod-form {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background-color: #fff;
  padding-left: 0.4rem;
  font-size: 15px;
}
.mod-form .form-line {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  padding: 7px 0.4rem 7px 0;
  border-bottom: 1px solid #e7e7e9;
}
.mod-form .form-line:last-child {
  border-bottom: none;
}
.mod-form .form-label {
  display: inline-block;
  width: 2.72rem;
  color: #000;
  line-height: 32px;
  white-space: nowrap;
}
.mod-form .form-element {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.mod-form .form-line.line-important .form-label,
.mod-form .form-line.line-important .form-element,
.mod-form .form-line.line-important .in-text {
  color: #ce3b28;
}
.mod-form .form-line.line-important .form-label::-webkit-input-placeholder,
.mod-form .form-line.line-important .form-element::-webkit-input-placeholder,
.mod-form .form-line.line-important .in-text::-webkit-input-placeholder {
  color: #ce3b28;
}
.mod-form .form-text {
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod-form .form-code {
  display: block;
  width: 74px;
  height: 26px;
  line-height: 26px;
  color: #ce3b28;
  border: 1px solid #ce3b28;
  border-radius: 5px;
  text-align: center;
  font-size: 13px;
  margin-top: 2px;
}
.mod-form .form-link > a {
  display: block;
  position: relative;
  color: #afafaf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod-form .form-link > a.link-fill {
  color: #000;
}
.mod-form .form-link > a:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 2px;
  top: 11px;
}
.mod-form .form-date {
  position: relative;
}
.mod-form .form-date:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #8e8e93 #8e8e93;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
  right: 2px;
  top: 10px;
}
.mod-form .form-select {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  line-height: 32px;
}
.mod-form .form-select .select-diy {
  height: 32px;
  line-height: 32px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.mod-form .form-select .select-diy .select-diy-text {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  padding-right: 23px;
  font-size: 15px;
  color: #1e1e1e;
}
.mod-form .form-select .select-diy .select-diy-text.text-default {
  font-size: 16px;
  color: #1e1e1e;
}
.mod-form .form-select .select-diy .select-diy-text:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #8e8e93 #8e8e93;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 2px;
  position: absolute;
  top: 10px;
}
.mod-form .form-select .select-diy select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  width: 100%;
  opacity: 0;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
  text-align: right;
  color: #1e1e1e;
  font-size: 15px;
}
.mod-form .focus-error .form-label,
.mod-form .focus-error .in-text {
  color: #ce3b28;
}
.select-ul {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background-color: #fff;
  padding-left: 0.4rem;
}
.select-ul li {
  border-bottom: 1px solid #e7e7e9;
}
.select-ul li:last-child {
  border-bottom: none;
}
.select-ul li > a {
  position: relative;
  min-height: 30px;
  padding: 15px 0.4rem 15px 0;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.select-ul li > a:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.42666667rem;
  margin-top: -6px;
}
/* 数量加减 */
.option-qty {
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 2.5rem;
  border: 1px solid #b2b2b2;
  border-radius: 2px;
  text-align: center;
  background-color: #fff;
  color: #000;
}
.option-qty .qty-minus,
.option-qty .qty-plus {
  width: 0.8rem;
  position: absolute;
  top: 0;
  bottom: 0;
}
.option-qty .qty-minus:before,
.option-qty .qty-plus:before {
  content: ' ';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #ce3b28;
  top: 50%;
  left: 50%;
  margin: -1px -5px;
  border-radius: 2px;
}
.option-qty .qty-minus {
  left: 0;
  border-right: 1px solid #b2b2b2;
}
.option-qty .qty-plus {
  right: 0;
  border-left: 1px solid #b2b2b2;
}
.option-qty .qty-plus:after {
  content: ' ';
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #ce3b28;
  top: 50%;
  left: 50%;
  margin: -5px -1px;
  border-radius: 2px;
}
.option-qty.disabled .qty-minus,
.option-qty.disabled {
  opacity: 0.4;
}
/* 表单]] */
/* 结果提示[[ */
.tipico-ok {
  background: url(../images/tipico_ok.png) no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: 100%;
}
.tip-result {
  background-color: #fff;
  padding: 16px 0;
  text-align: center;
}
.tip-result .result-ico {
  display: block;
  margin: 0 auto 10px;
}
.tip-result .result-hd {
  color: #ce3b28;
  font-size: 16px;
}
.tip-result .result-info {
  line-height: 1.5;
  margin-top: 10px;
}
.tip-result .result-info1 {
  line-height: 1.5;
  opacity: 0.7;
  margin: 10px 0 18px;
}
/* 结果提示]] */
/* 伸缩布局容器 */
/* 伸缩性 */
/* 伸缩方向为垂直方向 */
/* 侧轴方向居中对齐 */
/* 主轴和侧轴方向居中对齐 */
/* 文字溢出隐藏 */
/* 图片自适应 */
/* 清除浮动 */
/* 字体自适应 */
/* 常用箭头（实心三角） */
/* 常用箭头（边框） */
.f14 {
  font-size: 15px;
}
.book-form {
  margin-top: 10px;
}
.title-bar {
  color: #000;
  opacity: 0.7;
  padding-bottom: 8px;
  padding-top: 12px;
}
.title-bar h2 {
  font-size: 13px;
  padding-left: 0.4rem;
  position: relative;
}
/* 门店[[ */
.ico-tel,
.ico-addr {
  display: block;
  width: 30px;
  height: 30px;
  background-size: 100%;
  background-position: no-repeat;
}
.ico-tel {
  background-image: url(../images/ico_tel.png);
}
.ico-addr {
  background-image: url(../images/ico_addr.png);
}
.store-name {
  padding-left: 0.4rem;
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 10px;
  background-color: #fff;
}
.advert_name {
  /*padding-left: 0.4rem;*/
  border-bottom: 1px solid #e7e7e9;
  background-color: #ebdbdb;
  border-top: 1px solid #d68d84;
  border-bottom: 1px solid #d68d84;
}
.store-name li,
.advert_name li {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  line-height: 30px;
  padding: 7px 0.4rem 7px 0;
  border-bottom: 1px solid #e7e7e9;
  position: relative;
}
.advert_name li:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ce3b28 #ce3b28 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.42666667rem;
  margin-top: -6px;
}
.advert_name li {
  -webkit-align-items: center;
  -webkit-box-align: center;
  padding: 0 0.4rem;
  height: 44px;
  line-height: 44px;
}
/*垂直居中*/
.store-name li:last-child,
.advert_name li:last-child {
  border-bottom: none;
}
.store-name .name-line,
.store-name .addr-line,
.advert_name .advert_line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #737373;
  font-size: 13px;
}
.advert_name .advert_line {
  color: #ce3b28;
  line-height: initial;
}
.store-name .addr-km,
.advert_name .advert_look {
  color: #ce3b28;
  font-style: 12px;
  margin-right: 8px;
}
.advert_name .advert_look {
  margin-right: 4px;
}
.ico-care {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.ico-care-1 {
  background-image: url(../images/ico_care1.png);
}
.ico-care-2 {
  background-image: url(../images/ico_care2.png);
}
.ico-care-3 {
  background-image: url(../images/ico_care3.png);
}
.ico-care-4 {
  background-image: url(../images/ico_care4.png);
}
.ico-care-5 {
  background-image: url(../images/ico_care5.png);
}
.ico-care-6 {
  background-image: url(../images/ico_care6.png);
}
.select-care {
  font-size: 13px;
}
.select-care .care-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 8px;
}
.select-care .care-info .care-name {
  font-size: 15px;
  line-height: 20px;
}
.select-care .care-price {
  font-size: 16px;
  margin-right: 12px;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
}
.select-care .care-tag {
  color: #afafaf;
  padding-top: 5px;
}
/* 门店]] */
/* 确认保养项目[[ */
.select-car {
  margin-bottom: 10px;
}
.select-car .no-car a {
  color: #007aff;
  font-size: 15px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.select-car .car-info .car-img {
  border: 1px solid #e7e7e9;
  width: 1.17333333rem;
  height: 1.17333333rem;
  margin-right: 10px;
}
.select-car .car-info .car-detail {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 15px;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  margin-right: 12px;
  line-height: 18px;
}
.select-car .car-info .car-style {
  color: #afafaf;
  font-size: 13px;
  margin-top: 3px;
}
.service-detail {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e9;
  padding: 12px 0.4rem;
  line-height: 20px;
  color: #737373;
}
.care-detail {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background-color: #fff;
  padding-left: 0.4rem;
  margin-bottom: 10px;
}
.care-detail .detail-hd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 10px 0.4rem 10px 0;
  line-height: 18px;
  border-bottom: 1px solid #e7e7e9;
  font-size: 15px;
}
.care-detail .detail-hd .care-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 6px;
}
.care-detail .detail-list li {
  border-bottom: 1px solid #e7e7e9;
  padding: 16px 0.4rem 16px 0.66666667rem;
  position: relative;
}
.care-detail .detail-list li:last-child {
  border-bottom: none;
}
.care-detail .detail-list li:before {
  content: ' ';
  position: absolute;
  width: 8px;
  height: 8px;
  left: 4px;
  top: 20px;
  background-color: #bfbfbf;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.care-detail .detail-list .list-line,
.care-detail .detail-list .detail-qty {
  font-size: 15px;
}
.care-detail .detail-list .list-line {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 18px;
}
.care-detail .detail-list .detail-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
}
.care-detail .detail-list .item-price {
  width: 90px;
  text-align: right;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-end;
}
.care-detail .detail-list .detail-qty {
  zoom: 1;
  margin-top: 8px;
}
.care-detail .detail-list .detail-qty:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.care-detail .detail-list .detail-qty .option-qty {
  float: right;
}
.care-detail .detail-list .detail-qty .qty-extra {
  float: left;
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  color: #ce3b28;
  border: 1px solid #ce3b28;
  font-size: 13px;
}
/* 确认保养项目]] */
/* 门店列表 */
.page-hd {
  color: #737373;
  text-align: center;
  padding: 16px 0;
}
.store-list li {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}
.store-list li > a:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.42666667rem;
  margin-top: -4px;
}
.store-list li > a {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.4rem;
}
.store-list .store-img {
  border: 1px solid #e7e7e9;
  margin-right: 12px;
  width: 62px;
  height: 62px;
}
.store-list .store-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.store-list .store-info .info-name {
  font-size: 15px;
  padding-top: 2px;
  color: #000;
}
.store-list .store-info .info-addr {
  color: #737373;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 10px 0;
}
.store-list .store-info .info-dis {
  color: #ce3b28;
}
/* icon */
.book-ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.book-ico1 {
  background-image: url(../images/b_ico1.png);
}
.book-ico2 {
  background-image: url(../images/b_ico2.png);
}
.book-ico3 {
  background-image: url(../images/b_ico3.png);
}
.book-ico4 {
  background-image: url(../images/b_ico4.png);
}
.book-ico5 {
  background-image: url(../images/b_ico5.png);
}
.title-bar .book-ico {
  position: relative;
  top: 5px;
}
.book-info {
  margin-bottom: 10px;
  margin-top: 10px;
}
.book-info .info-main {
  padding: 16px 0.4rem;
  background-color: #fff;
}
.book-info .info-line {
  line-height: 1.5;
  margin-bottom: 2px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #474747;
}
.book-info .info-line > label {
  width: 64px;
  white-space: nowrap;
}
.book-info .info-line .info-value {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.sub-tip {
  color: #afafaf;
  padding: 0 0.4rem;
  line-height: 20px;
}
/* 我的 首页[[ */
.my-info {
  position: relative;
  padding: 0 15px;
  margin: 0 0 10px 0;
  display: flex;
  height: 100px;
  background: url(../images/my_bg.jpg) no-repeat;
  background-size: 100% 100%;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  background-color: #ce3b28;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.my-info .info-img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.my-info .info-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #fff;
}
.my-info .info-item .my-name {
  font-size: 15px;
  margin-bottom: 10px;
}
.my-info:after {
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #ffffff transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 0.4rem;
  top: 50%;
  margin-top: -6px;
}
.ico-my {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ico-my1 {
  background-image: url(../images/ico_my1.png);
  width: 30px;
  height: 30px;
  /*margin-right: 13px;*/
}
.ico-my2 {
  background-image: url(../images/ico_my2.png);
}
.ico-my3 {
  background-image: url(../images/ico_my3.png);
}
.ico-my4 {
  background-image: url(../images/ico_my4.png);
}
.ico-my5 {
  background-image: url(../images/ico_my5.png);
}
.my-order .order-hd {
  overflow: hidden;
  font-size: 15px;
}
.my-order .order-hd li > a {
  min-height: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.ico-order {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}
.ico-order1 {
  background-image: url(../images/ico_order1.png);
}
.ico-order2 {
  background-image: url(../images/ico_order2.png);
}
.order-item {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 10px;
}
.order-item li {
  width: 50%;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #e7e7e9;
}
.order-item li:last-child {
  border-right: none;
}
.order-item li > a {
  display: block;
  position: relative;
  padding: 23px 0;
  color: #000;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.order-item .t-num {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ce3b28;
  text-align: center;
  line-height: 16px;
  color: #fff;
  font-size: 9px;
  margin-left: 2px;
  margin-top: -10px;
}
.my-items li > a {
  min-height: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}
/* 我的 首页]] */
/* 我的 订单[[ */
.order-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e9;
}
.order-nav > a {
  height: 42px;
  display: block;
  font-size: 15px;
  color: #000;
  padding: 0 18px;
}
.order-nav > a span {
  display: block;
  line-height: 40px;
  border-bottom: 2px solid #fff;
}
.order-nav > a.on span {
  border-bottom-color: #ce3b28;
  color: #ce3b28;
}
.order-list {
  margin-top: 10px;
}
.order-list li {
  background-color: #fff;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  padding-left: 0.4rem;
  margin-bottom: 10px;
}
.order-list .order-hd {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  border-bottom: 1px solid #e7e7e9;
  height: 42px;
  line-height: 42px;
  padding-right: 0.4rem;
}
.order-list .order-hd .order-store {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.order-list .order-care {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 18px 0.4rem 18px 0;
}
.order-list .order-care .care-info {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 10px;
}
.order-list .order-care .care-info .care-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 20px;
}
.order-list .order-care .care-info .care-des {
  font-size: 13px;
  color: #afafaf;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.order-list .order-care .care-price {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.order-list .pay-btn {
  border-top: 1px solid #e7e7e9;
  padding: 5px 0.4rem;
  zoom: 1;
}
.order-list .pay-btn:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.order-list .pay-btn .btn {
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  float: right;
  font-size: 13px;
}
.data-ico {
  margin: 0 auto 15px;
  display: block;
}
.ico-no-order {
  width: 88px;
  height: 88px;
  background: url(../images/no_order.png) no-repeat;
  background-size: 100%;
}
.data-null {
  padding: 123px 0;
  text-align: center;
  font-size: 15px;
  color: #ababab;
}
/* 我的 订单[[ */
/* 我的 订单详情[[ */
.order-state {
  background-color: #fff;
  padding-left: 0.4rem;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 10px;
}
.order-state .state-hd {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid #e7e7e9;
  padding-right: 0.4rem;
}
.order-state .state-hd .order-num {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 15px;
  color: #cc3b28;
}
.order-state .state-hd .service-txt {
  opacity: 0.4;
  float: right;
  font-size: 13px;
  color: #000;
}
.order-state .state-info {
  color: #737373;
  padding: 15px 0;
}
.order-state .state-info li {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 6px;
}
.order-state .state-info li:nth-child(2) {
  margin-bottom: 16px;
}
.order-state .state-info li:last-child {
  margin-bottom: 0;
}
.order-state .state-info li .info-label {
  width: 68px;
  /*text-align: right;*/
}
.order-state .state-info li .info-cont {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.btn-bottom-order {
  padding-top: 73px;
}
.btn-bottom-order .btn-two .price-left {
  font-size: 13px;
  line-height: 16px;
}
.btn-bottom-order .btn-fix {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  text-align: center;
  height: 63px;
  background-color: #fff;
  line-height: 18px;
}
.btn-bottom-order .btn-fix i {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #a9a9a9;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 6px;
}
/* 我的 订单详情]] */
/* 我的 常用门店[[ */
.my-store-list {
  padding: 14px 0.4rem;
}
.my-store-list li {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e7e7e9;
  overflow: hidden;
  color: #737373;
  line-height: 20px;
  padding: 12px 0.4rem;
  margin-bottom: 10px;
}
.my-store-list .store-btn {
  margin-top: 5px;
}
.my-store-list .store-btn a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  border: 1px solid #ce3b28;
  color: #ce3b28;
  padding: 0 12px;
  margin-right: 10px;
}
.my-store-list .store-btn .set-default {
  display: inline-block;
  line-height: 34px;
  color: #b8b8b8;
}
/* 我的 常用门店]] */
/* 选择品牌[[ */
.car-brand {
  padding-top: 10px;
}
.ico-hot {
  width: 30px;
  height: 30px;
  display: block;
  background: url(../images/ico_hot.png) no-repeat;
  background-size: 100%;
}
.letter-list {
  zoom: 1;
  margin-top: 10px;
  padding: 0 10px;
}
.letter-list:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.letter-list li {
  width: 12.5%;
  float: left;
  margin-bottom: 14px;
}
.letter-list li > a {
  display: block;
  margin: 0 auto;
  width: 28px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  border-radius: 14px;
  border: 1px solid #e7e7e9;
  overflow: hidden;
  background-color: #fff;
  color: #000;
}
.letter-list li:first-child > a {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
}
.letter-list li.on > a {
  background-color: #ce3b28;
  color: #fff;
}
.letter-list li.on .ico-hot {
  background-position: 0 -31px;
}
.car-list {
  zoom: 1;
  padding: 0 6px;
  /*margin-right: 10px;*/
}
.car-list:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.car-list li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 2px;
  margin-bottom: 10px;
}
.car-list a {
  display: block;
  background-color: #fff;
  border: 1px solid #e7e7e9;
  padding: 0 5px;
  color: #000;
  font-style: 14px;
  height: 44px;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
}
.car-list a img {
  display: block;
  margin-right: 5px;
}
.car-list li.on a {
  border-color: #ce3b28;
  color: #ce3b28;
}
.car-list_box a {
  overflow: hidden;
  position: relative;
}
.car-list_box a img {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -17px;
}
.car-list_box a {
  text-align: left;
}
.car-list_box a span {
  padding-left: 50px;
}
.type-list {
  margin-top: 10px;
}
.type-list1 {
  margin-top: 10px;
}
.type-list1 li {
  width: 100%;
}
/* 选择品牌]] */
.gray-bg {
  background-color: #9A807C;
}
.mistip {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  text-align: center;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
.mistip span {
  padding: 15px 10px;
  font-size: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  display: block;
  line-height: 1.5;
}
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.title_lab {
  position: relative;
  display: block;
  margin: 20px 13px;
}
.title_lab:before {
  border-top: 1px solid #999;
  width: 100%;
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -1px;
  z-index: 2;
}
.title_lab label {
  padding-right: 10px;
  display: inline-block;
  background: #eee;
  z-index: 111;
  position: relative;
}
.mb10 {
  margin-bottom: 10px;
}
.arrow_special,
.arrow_special_ce3b28 {
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(135deg);
  border-left: 0.02rem solid #8e8e93;
  border-top: 0.02rem solid #8e8e93;
  display: inline-block;
  margin-left: 0.1rem;
}
.arrow_special_ce3b28 {
  border-left-color: transparent;
  border-top-color: transparent;
  display: inline-block;
}
/*edi*/
.service-detail {
  overflow: hidden;
  width: 92%;
}
.service-detail table,
.service-detail * {
  width: auto !important;
  max-width: 750px;
  word-wrap: break-word;
  margin-left: 0;
}
.service-detail img {
  max-width: 100%;
}
/* 输入框 */
.sec_vehicle_info {
  font-family: 'Microsoft YaHei', '微软雅黑';
  font-size: 0.4rem;
  max-width: 750px;
  margin: auto;
  padding-bottom: 1.81333rem;
}
.sec_vehicle_info img {
  max-width: 100%;
}
.sec_vehicle_info .plr_a {
  padding: 0 4.4%;
}
.sec_vehicle_info .mt_a {
  margin-top: 0.26667rem;
}
.sec_vehicle_info .city_em {
  position: relative;
  display: inline-block;
}
.sec_vehicle_info .city_em select {
  width: 3.3rem;
  line-height: 1.2rem;
  background: transparent;
  height: 1.2rem;
  font-size: 0.4rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background: #fff;
  border-radius: 0;
  border: 0px solid #ccc;
  font-family: 'Microsoft YaHei', '微软雅黑';
}
.sec_vehicle_info .city_em:after {
  position: absolute;
  content: "";
  display: block;
  border-top: 5px solid #666;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 0.6rem;
  right: 10px;
}
.arrow_r {
  margin-top: 0.48rem;
  width: 0.21333rem;
  height: 0.21333rem;
  -webkit-transform: rotate(135deg);
  border-left: 0.05333rem solid #8e8e93;
  border-top: 0.05333rem solid #8e8e93;
  display: inline-block;
  margin-left: 0.13333rem;
}
.list_info {
  background: #fff;
  overflow: hidden;
}
.list_info li {
  display: table;
  line-height: 1.2rem;
  height: 1.2rem;
  border-top: 1px solid #eee;
  margin-left: 4.4%;
  width: 100%;
  margin-top: -1px;
  position: relative;
}
.list_info li label {
  display: table-cell;
  width: 2.50667rem;
  color: #000;
}
.list_info li span {
  display: table-cell;
}
.list_info li input {
  border: none;
  width: 100%;
  font-size: 0.4rem;
}
.list_info .arrow_r {
  position: absolute;
  right: 8.8%;
  top: 50%;
  margin-top: -0.16rem;
}
.footer_btn1 {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.btn_ce3d2a {
  border: none;
  background: #ce3b28;
  background: -webkit-linear-gradient(top, #ce3b28 0%, #ce3b28 100%);
  line-height: 1.28rem;
  color: #fff;
  font-size: 0.4rem;
  width: 100%;
  text-align: center;
  display: block;
  border-radius: 0;
}
figure.fig_vehicle {
  padding: 0 4.4%;
  margin: auto;
}
figure.fig_vehicle h3 {
  padding-top: 0.53333rem;
  line-height: 0.88667rem;
  font-size: 0.34667rem;
  text-align: center;
  color: #000;
  opacity: 0.4;
}
/*city start*/
.G_SelectSheet {
  position: absolute;
  z-index: 1001;
  bottom: 0;
  height: 6.82667rem;
  left: 0;
  right: 0;
  background-color: white;
}
.G_SelectSheet > .Header {
  display: -webkit-box;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
  z-index: 12;
  background-color: #fff;
  height: 1.17333rem;
  line-height: 1.17333rem;
}
.G_SelectSheet > .Header .Left {
  display: flex;
  padding-left: 4.4%;
  padding-right: 4.4%;
  font-size: 0.4rem;
  color: #ff6600;
}
.G_SelectSheet > .Header .Center {
  -webkit-box-flex: 1;
  font-size: 0.4rem;
  text-align: center;
}
.G_SelectSheet > .Header .Right {
  display: flex;
  padding-left: 4.4%;
  padding-right: 4.4%;
  font-size: 0.4rem;
  color: #ff6600;
}
.G_SelectSheet > .Content {
  position: absolute;
  top: 1.17333rem;
  bottom: 0;
  width: 100%;
}
.G_SelectSheet > .Content > .OptionsMask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.G_SelectSheet > .Content > .OptionsMask > div {
  width: 100%;
}
.G_SelectSheet > .Content > .OptionsMask .Top {
  height: 2.34667rem;
  background-image: linear-gradient(to top, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.9));
}
.G_SelectSheet > .Content > .OptionsMask .Middle {
  height: 1.17333rem;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.G_SelectSheet > .Content > .OptionsMask .Bottom {
  height: 2.34667rem;
  background-image: linear-gradient(to bottom, rgba(250, 250, 250, 0.7), rgba(250, 250, 250, 0.9));
}
.G_SelectSheet > .Content > .SelectContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  display: -webkit-box;
}
.G_SelectSheet .ScrollerWrap {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.G_SelectSheet .ScrollerWrap ul {
  width: 100%;
  height: auto;
  display: block;
}
.G_SelectSheet .ScrollerWrap ul li {
  width: 100%;
  text-align: center;
  line-height: 1.17333rem;
  font-size: 0.4rem;
  display: block;
  color: #484848;
}
.G_SelectSheet .ScrollerWrap .GhostEl {
  position: absolute;
  z-index: 1000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: red;
  opacity: 0;
}
.G_Mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  z-index: 1000;
  opacity: 0.4;
}
/*city end*/
/*query-result-list start*/
.query-result-list {
  font-size: 13px;
  color: #464746;
}
.query-result-list li {
  background-color: #fff;
  border: 1px solid #e7e7e9;
  overflow: hidden;
  color: #737373;
  line-height: 20px;
  padding: 12px 0.4rem;
  margin-bottom: 10px;
}
.query-result-list p.car-name {
  line-height: 48px;
  background: #fff;
  padding: 0 0.4rem;
  font-size: 15px;
}
.query-result-list p.car-name span {
  float: right;
  position: relative;
  padding-right: 16px;
  color: #A8ADB3;
}
.query-result-list p.car-name span:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -4px;
  transform-origin: top center;
}
.query-result-list > ul {
  padding: 14px 0.4rem;
}
.query-result-list > ul li {
  color: #404140;
}
.query-result-list .font-color {
  font-size: 15px;
  margin-right: 10px;
}
.query-result-list .untreated-style .font-color {
  color: #f4583a;
}
.query-result-list .untreated-style .store-result {
  color: #f4583a;
}
.store-result {
  border-top: 1px solid #e7e7e9;
  margin-top: 10px;
  padding-top: 10px;
}
/*query-result-list end*/
.copyright {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 8px;
  width: 100%;
  color: #545454;
}
.ico-smart-weixin {
  margin-right: 8px;
  vertical-align: middle;
  background: url(../images/smart_weixin.png) no-repeat;
  width: 20px;
  height: 17px;
  display: inline-block;
  background-size: 100% 100%;
}
.sec-info-pay {
  padding: 0 23px;
}
.sec-info-pay h2 {
  text-indent: 19px;
  color: #545454;
  font-size: 15px;
  padding: 25px 0 12px;
}
.sec-info-pay .info_pay {
  position: relative;
  background: #fff;
  height: 280px;
  width: 100%;
}
.sec-info-pay input[type='number'] {
  border: none;
  height: 50px;
  line-height: 50px;
  width: 100%;
  flex: 1;
  font-size: 45px;
  color: #000;
  text-indent: 16px;
}
.sec-info-pay label {
  padding: 50px 0 32px 20px;
  line-height: 16px;
  font-size: 14px;
  color: #545454;
  display: block;
}
.sec-info-pay .money {
  font-size: 20px;
  padding-left: 24px;
  display: flex;
}
.sec-info-pay .btn-pay {
  background: #46bf18;
  line-height: 48px;
  text-align: center;
  font-size: 18px;
  width: 100%;
  display: block;
  color: #fff;
  margin-top: 23px;
  border-radius: 4px;
}
.sec-info-pay .btn-pay:active {
  background: #298509;
}
.bg_filter {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  overflow: hidden;
}
.tip_filter_box {
  z-index: 120;
  border-radius: 4px;
  background: #fff;
  padding: 34px 0 34px 0;
  position: fixed;
  width: 84%;
  left: 50%;
  top: 50%;
  margin: -188px -42%;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.attention_weixin_tip h2.title1 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #000;
  line-height: 23px;
  text-align: center;
}
.attention_weixin_tip p.title2 {
  color: #000;
  font-size: 13px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
  opacity: 0.4;
}
.pay-weixin-txt {
  margin: 10px auto 0;
  background: url(../images/weixin_pay_txt.png) no-repeat;
  width: 247px;
  height: 18px;
  background-size: 100% 100%;
}
.pay-fixed {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 6px;
}
/*loading*/
.loading-box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  position: fixed;
  left: 0;
  top: 0;
}
.loading {
  background: url(../images/loading.gif) no-repeat;
  width: 100px;
  height: 100px;
  background-size: 100% 100%;
}
/*v3.0*/
.ico_white_car,
.ico_service,
.ico_discount,
.ico_advert_pic,
.ico_advert_pic1,
.voucher_expire:after,
.voucher_used:after,
.coupon_info .coupon_sec1:after,
.btn_voucher {
  background: url(../images/ico.png);
  display: inline-block;
  background-size: 8.85333rem 8.85333rem;
  vertical-align: middle;
}
.tab_service_list {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  background: #fff;
  height: 1.17333rem;
  font-size: 0.4rem;
  border-style: solid;
  border-width: 1px 0 1px 0;
  border-color: #e7e7e9;
  margin-bottom: 0.53333rem;
}
.tab_service_list li {
  -webkit-box-flex: 1;
  line-height: 1.17333rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-align: center;
}
.tab_service_list li a {
  color: #000;
  padding: 0 0.26667rem 0.29333rem;
}
.tab_service_list li.on a {
  color: #ce3b28;
  border-bottom: 0.08rem solid #ce3b28;
}
.voucher_sec .voucher_art {
  padding: 0 0.4rem;
}
.voucher_info > a {
  position: relative;
  min-height: 0.8rem;
  padding: 0.58667rem 0.6rem 0.4rem 0.4rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  background: #fff;
}
.voucher_info > a:after {
  content: ' ';
  display: inline-block;
  width: 0.21333rem;
  height: 0.21333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.42666667rem;
  margin-top: -0.16rem;
  transform-origin: top center;
}
.voucher_info .car-img {
  border: 1px solid #e7e7e9;
  width: 1.17333333rem;
  height: 1.17333333rem;
  margin-right: 0.26667rem;
}
.svoucher_info .svoucher_detail {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.4rem;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  margin-right: 0.32rem;
  line-height: 0.48rem;
}
.svoucher_info .svoucher_style {
  color: #afafaf;
  font-size: 0.34667rem;
  margin-top: 0.08rem;
}
.service_detail {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e9;
  padding: 0.21333rem 0.4rem;
  line-height: 0.53333rem;
  color: #737373;
}
.voucher_detail {
  font-size: 0.4rem;
  background-color: #fff;
  /*padding-left: 0.4rem;*/
  padding-left: 15px;
  margin-bottom: 0.26667rem;
  line-height: 0.53333rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.voucher_info.scale .voucher_detail {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
}
.voucher_detail .voucher_hd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0.26667rem 0.4rem 0.26667rem 0;
  line-height: 0.48rem;
  border-bottom: 1px solid #e7e7e9;
  font-size: 0.4rem;
}
.voucher_sec {
  padding-bottom: 0.53333rem;
}
.voucher_art {
  margin-top: 0.53333rem;
}
.voucher_art h2 {
  border-radius: 0.10667rem 0.10667rem 0 0;
  line-height: 0.88rem;
  padding: 0 0.4rem;
  background: #ce3b28;
  color: #fff;
  font-size: 0.34667rem;
}
.voucher_art h2 b {
  opacity: 0.7;
  font-weight: normal;
  vertical-align: middle;
}
.voucher_style {
  color: #000;
  opacity: 0.3;
  font-size: 0.34667rem;
  margin-top: 0.26667rem;
}
.voucher_img {
  /* width: 1.6rem;*/
  width: 30px;
}
.voucher_img img {
  width: 30px;
  height: 30px;
  transform: scale(1);
  transform-origin: top center;
}
.voucher_info {
  background: #fff;
  border-radius: 0 0 0.10667rem 0.10667rem;
}
.voucher_come_time {
  position: relative;
  border-top: 1px dashed #e7e7e9;
  padding: 0 0.4rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.34667rem;
}
.voucher_come_time span {
  color: #000;
  opacity: 0.4;
}
a.btn_b_ce3b28 {
  background: #fff;
  color: #ce3b28;
  border-radius: 1px;
  line-height: 0.66667rem;
  border: 1px solid #ce3b28;
  float: right;
  margin: 0.18667rem 0;
  padding: 0 0.37333rem;
}
a.btn_b_ce3b28:active {
  background: #ce3b28;
  color: #fff;
}
.voucher_come_time:before {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #eee;
  left: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.voucher_come_time:after {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #eee;
  right: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.voucher_art.voucher_expire h2,
.voucher_art.voucher_used h2,
.voucher_art.voucher_get h2,
.voucher_art.voucher_get_over h2 {
  background: #ccc;
}
.voucher_art.voucher_expire .scale .voucher_img,
.voucher_art.voucher_used .scale .voucher_img,
.voucher_art.voucher_get .scale .voucher_img,
.voucher_art.voucher_get_over .scale .voucher_img {
  color: #d6d6d6;
}
.voucher_expire .voucher_detail p:nth-child(1),
.voucher_used .voucher_detail p:nth-child(1),
.voucher_get .voucher_detail p:nth-child(1),
.voucher_get_over .voucher_detail p:nth-child(1) {
  opacity: 0.5;
}
.voucher_expire a.btn_b_ce3b28,
.voucher_used a.btn_b_ce3b28,
.voucher_get a.btn_b_ce3b28,
.voucher_get_over a.btn_b_ce3b28 {
  border-color: #ccc;
  color: #ccc;
}
.voucher_expire a.btn_b_ce3b28:active,
.voucher_used a.btn_b_ce3b28:active,
.voucher_get a.btn_b_ce3b28:active,
.voucher_get_over a.btn_b_ce3b28:active {
  background: #fff;
  border-color: #ccc;
  color: #ccc;
}
.voucher_expire,
.voucher_used,
.voucher_get,
.voucher_get_over {
  position: relative;
}
.voucher_expire .voucher_img .price1,
.voucher_used .voucher_img .price1 {
  color: #d6d6d6;
}
.voucher_expire .voucher_img .price2,
.voucher_used .voucher_img .price2 {
  color: #fff;
  background: #d6d6d6;
}
.voucher_expire .voucher_img .price3,
.voucher_used .voucher_img .price3 {
  color: #d6d6d6;
}
.voucher_expire:after {
  position: absolute;
  content: "";
  right: 1.44rem;
  top: 1.01333rem;
  width: 1.89333rem;
  height: 1.89333rem;
}
.voucher_used:after {
  position: absolute;
  content: "";
  right: 1.44rem;
  top: 1.01333rem;
  width: 1.89333rem;
  height: 1.89333rem;
  background-position: -2.13333rem 0;
}
/*.voucher_get:after{position: absolute;content: ""; right: 0.93333rem;top: 1.01333rem;width: 1.89333rem;height: 1.89333rem;background-position: 0  -3.46667rem; }*/
/*.voucher_get_over:after{position: absolute;content: ""; right: 0.93333rem;top: 1.01333rem;width: 1.89333rem;height: 1.89333rem;background-position: -2.13333rem -3.46667rem; }*/
.voucher_art.voucher_get .btn_b_ce3b28 {
  border: none;
}
.voucher_art.voucher_get .price3 {
  color: #d6d6d6;
}
.voucher_art.voucher_get .price2 {
  color: #fff;
  background: #d6d6d6;
}
.voucher_art .scale .voucher_img {
  color: #ce3b28;
  font-size: 0.82667rem;
  width: 1.866667rem;
  display: inline-block;
}
.voucher_art .scale .voucher_img em {
  font-size: 0.34667rem;
}
.voucher_art .scale .voucher_img .free {
  background: url(../images/free.png) no-repeat;
  display: block;
  width: 1.06667rem;
  height: 1.06667rem;
  background-size: 100% 100%;
}
.voucher_img .price1 {
  font-size: 0.4rem;
  display: block;
  margin-top: 2px;
}
.voucher_img .price2 {
  font-size: 0.24rem;
  line-height: 0.4rem;
  border-radius: 0.10667rem;
  color: #fff;
  background: #ce3b28;
  padding: 0 0.16rem;
  display: inline-block;
  vertical-align: top;
  margin-top: 0.13333rem;
  text-align: center;
  min-width: 1.33333rem;
}
.voucher_img .price3 {
  font-size: 0.4rem;
  color: #ce3b28;
}
/*卡券*/
.coupon_info {
  background: #ce3b28;
  min-height: 100%;
  font-size: 0.34667rem;
  color: #000;
  padding: 1.06667rem 0.4rem 0;
}
.coupon_info .coupon_sec1 {
  background: #fff;
  border-radius: 0.10667rem;
  position: relative;
}
.coupon_info .coupon_sec1:after {
  content: "";
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 100%;
  left: 50%;
  top: -0.53333rem;
  position: absolute;
  margin-left: -0.53333rem;
  background-position: -4.10667rem 0;
}
.coupon_sec1 h2 {
  opacity: 0.7;
}
.coupon_sec1 .coupon_con1 {
  padding: 1.01333rem 0.4rem 0.53333rem 0.4rem;
  text-align: center;
}
.coupon_con1 .p1 {
  font-size: 0.8rem;
  margin: 0.74667rem 0 0.64rem;
}
.coupon_con1 .p2 {
  line-height: 0.53333rem;
}
.coupon_con1 .p3 {
  opacity: 0.4;
  padding-bottom: 0.4rem;
}
.btn_ce3b28 {
  background: #ce3b28;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 0.05333rem;
}
.btn_ce3b28:active {
  background: #9b2415;
}
.btn_a0a0a0 {
  background: #a0a0a0;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 0.05333rem;
}
.w160_h34 {
  width: 4.26667rem;
  height: 0.90667rem;
  line-height: 0.90667rem;
}
.coupon_con2 {
  position: relative;
}
.coupon_con2 mark {
  position: relative;
  line-height: 1px;
  border-top: 1px dashed #e7e7e9;
  background: initial;
  display: block;
  font-size: 0.34667rem;
}
.coupon_con2 mark em {
  display: block;
  opacity: 0.4;
  border-bottom: 1px solid #e7e7e9;
  padding: 0 0.4rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
}
.coupon_con2 mark:before {
  z-index: 2;
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #ce3b28;
  left: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.coupon_con2 mark:after {
  z-index: 2;
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #ce3b28;
  right: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.coupon_con2 div.p1 {
  line-height: 0.53333rem;
  padding: 0.53333rem 0.4rem;
}
.attention_info {
  background: #fff;
  padding: 0.58667rem 0 0.8rem 0;
}
.attention_info .title1 {
  color: #000;
  font-size: 0.34667rem;
  line-height: 0.61333rem;
  text-align: center;
  margin-bottom: 0.32rem;
}
.attention_weixin_er {
  position: relative;
  width: 190px;
  height: 190px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0.08rem;
}
.attention_weixin_er img {
  width: 190px;
  height: 190px;
}
.attention_weixin_er .ico_service {
  background-position: -5.33333rem 0;
  width: 1.06667rem;
  height: 1.06667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.53333rem;
}
.attention_weixin_er .ico_discount {
  background-position: -7.73333rem 0;
  width: 1.06667rem;
  height: 1.06667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.53333rem;
}
.attention_weixin_txt {
  margin: 10px auto 0;
  background: url(../images/weixin_pay_txt.png) no-repeat;
  width: 239px;
  height: 18px;
  background-size: 100% 100%;
}
.select_no_border li {
  padding: 0.53333rem 0.4rem 0.53333rem 0.4rem;
}
.select_no_border li > a {
  display: table;
  position: relative;
  min-height: 0.8rem;
  width: 100%;
  color: #000;
}
.select_no_border li > a:after {
  content: ' ';
  display: inline-block;
  width: 0.21333rem;
  height: 0.21333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.16rem;
  transform-origin: top center;
}
.select_no_border .select_detail {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.4rem;
  margin-right: 0.53333rem;
  line-height: 0.69333rem;
}
.select_no_border .select_detail p:nth-child(2) {
  opacity: 0.7;
  font-size: 0.34667rem;
  width: 5.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select_img {
  padding-right: 0.4rem;
  display: table-cell;
  width: 1.65333rem;
  vertical-align: middle;
}
.ico_white_car {
  width: 0.48rem;
  height: 0.48rem;
  background-position: -6.53333rem 0;
  margin-right: 0.4rem;
}
.voucher_code h2 {
  line-height: 1.17333rem;
}
.btn_voucher {
  background-position: -2.4rem -2rem;
  width: 3.413rem;
  height: 1.41333rem;
  font-size: 0;
  margin-left: 0.133333rem;
}
.logo_footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0.16rem;
}
/*首页广告*/
.advert_box {
  position: relative;
}
.ico_advert_pic {
  background-position: 0 -2rem;
  position: absolute;
  left: 0;
  bottom: 0.533333rem;
  width: 2.13333rem;
  height: 1.06667rem;
}
.ico_advert_pic1 {
  background-position: -7.0933333rem 0;
  width: 0.56rem;
  height: 0.346667rem;
  margin-right: 0.64rem;
}
.coupon_data_null {
  padding: 80px 0;
  color: #ababab;
  text-align: center;
  font-size: 15px;
}
.ico_no_coupon {
  width: 88px;
  height: 88px;
  background: url(../images/no_coupon.png) no-repeat;
  background-size: 100%;
}
/*发布二手车*/
/*选择车身颜色*/
/*标题*/
/*选择颜色*/
.select-color-item {
  padding: 0.4rem 0.4rem 0.13333333rem 0.4rem;
  background: #ffffff;
  booder-top: 1px solid #E7E7E9;
  border-bottom: 1px solid #E7E7E9;
  overflow: hidden;
}
.select-color-item ul {
  font-size: 0;
  margin-left: -0.64rem;
}
.select-color-item li {
  float: left;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 0.26666667rem;
  padding-left: 0.64rem;
}
.select-color-item a {
  display: block;
  border: 1px solid #DEDEDE;
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  color: #000000;
  text-align: center;
  font-size: 0.4rem;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
}
.select-color-item .black-bg {
  background-color: #000;
  color: #ffffff;
}
.select-color-item .white-bg {
  background-color: #ffffff;
}
.select-color-item .gray-bg {
  background-color: #dddddd;
}
.select-color-item .red-bg {
  background-color: #b40108;
}
.select-color-item .bule-bg {
  background-color: #1f7dd3;
}
.select-color-item .champagne-bg {
  background-color: #e5cb97;
}
.select-color-item .brown-bg {
  background-color: #533B2B;
  color: #ffffff;
}
.select-color-item .yellow-bg {
  background-color: #fbdd33;
}
.select-color-item .purple-bg {
  background-color: #9d51a7;
}
.select-color-item .orange-bg {
  background-color: #f38443;
}
.select-color-item .green-bg {
  background-color: #72a853;
}
/*发布二手车*/
.psr {
  position: relative;
}
.select-list-arrow {
  background: #fff;
  border-top: 0.02666667rem solid #e7e7e7;
  border-bottom: 0.02666667rem solid #e7e7e7;
}
.mod-form .form-element {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.form-input-time i.tip-text {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 12;
  line-height: 0.85333333rem;
  font-style: normal;
}
.form-input-time .ico-arrow-up {
  position: absolute;
  right: 0.08rem;
  top: 50%;
  margin-top: -0.21333333rem;
}
.ico-arrow-up {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.ico-arrow,
.ico-arrow-up {
  content: ' ';
  display: inline-block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 0.4rem;
}
.form-input-time .input-time {
  opacity: 0;
  z-index: 1;
  background: transparent;
}
.arrow-right {
  line-height: 32px;
}
.already-order {
  padding-top: 1.84rem;
  height: 100%;
  box-sizing: border-box;
}
.no-pading {
  padding: 0;
}
.already-order .already-order-text {
  font-size: 0.4rem;
  color: #000000;
  padding-bottom: 0.77333333rem;
}
.result-black {
  font-size: 0.34666667rem;
  color: #4c4c4c;
  line-height: 1.5;
}
.already-order-ok {
  background: url(../images/already-order-ok.png) no-repeat;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-size: 100%;
}
