html {
  height: 100%;
  font-size: 50px;
}
.color {
  color: #5890ff;
}
html,
body,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
fieldset,
input,
abbr,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
meter,
nav,
output,
progress,
section,
summary,
time,
td {
  margin: 0;
  padding: 0;
}
body {
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif;
  font-size: 13px;
  font-size: 0.34666667rem;
  line-height: 1;
  color: #000;
  box-sizing: border-box;
  background-color: #eee;
  margin: auto;
  max-width: 750px;
}
body,
#view {
  height: 100%;
  min-height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
address,
caption,
cite,
code,
em,
th,
figcaption,
b,
i {
  font-weight: normal;
  font-style: normal;
}
fieldset,
iframe {
  border: none;
}
caption,
th {
  text-align: left;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
ul {
  list-style: none outside;
}
a,
ins {
  text-decoration: none;
}
article,
aside,
footer,
header,
hgroup,
nav,
section,
figure,
figcaption,
details,
summary {
  display: block;
}
img,
a img {
  border: 0;
}
img {
  max-width: 100%;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
/* 去掉点击后Android边框和IOS的默认背景 */
a,
button,
input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}
input {
  outline: 0;
}
input::-webkit-input-placeholder {
  color: #afafaf;
}
/* 窗口宽度<640,设计宽度=480 */
@media only screen and (max-width: 320px) {
  html {
    font-size: 32px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 375px) {
  html {
    font-size: 37.5px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 414px) {
  html {
    font-size: 41.4px;
  }
}
@media only screen and (min-width: 415px) and (max-width: 435px) {
  html {
    font-size: 43.5px;
  }
}
/*自适应*/
/*margin and padding*/
.mt10 {
  margin-top: 0.26666667rem;
}
.mtb10 {
  margin-top: 0.26666667rem;
  margin-bottom: 0.26666667rem;
}
/*width*/
.w70 {
  width: 1.86666667rem;
}
/*height*/
.h48 {
  height: 1.28rem;
  line-height: 1.28rem;
}
/*txt*/
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.fc-ce3b28 {
  color: #ce3b28;
}
.fc-fb3f3f {
  color: #fb3f3f;
}
.plr15 {
  padding: 0 1.5rem;
}
.mr15 {
  margin-right: 1.5rem;
}
.bg-eee {
  background: #eee;
}
/* 隐藏 & 显示 配合js */
.fn-hide {
  display: none!important;
}
.fn-show {
  display: block;
}
.fn-pr {
  position: relative;
}
.tac {
  text-align: center;
}
.opacity4 {
  opacity: 0.4;
}
.opacity7 {
  opacity: 0.7;
}
/* 浮动 */
.fn-left,
.fl {
  float: left;
}
.fn-right,
.fr {
  float: right;
}
/* 清除浮动 */
.fn-clear {
  zoom: 1;
}
.fn-clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.';
}
.imgauto {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.store-img .imgauto {
  min-height: 62px;
}
.db {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-vam {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-align: center;
  /*-webkit-box-pack: center;*/
}
.v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.fx1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.vm {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
}
.vh {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  -webkit-box-flex: 1;
  flex: 1;
}
.text-of,
.ect {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 按钮[[ */
.btn {
  display: inline-block;
  height: 1.28rem;
  line-height: 1.28rem;
  background-color: #3b5999;
  color: #fff;
  font-size: 0.4rem;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 124;
}
.btn:active {
  background-color: #5175c2;
}
/* 不可点按钮 */
.btn.btn-disable {
  background-color: #a0a0a0;
}
.btn.btn-disable:active {
  background-color: #a0a0a0;
}
.btn-bottom .btn.btn-disable,
.btn-bottom .btn.btn-disable:active {
  display: inline-table;
  padding: 0 1.5rem;
}
/* 按钮]] */
/* 底部固定按钮[[ */
.btn-bottom {
  padding-top: 1.54666667rem;
  position: relative;
  z-index: 112;
}
.btn-bottom .btn-fix {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  background-color: #ccc;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-two {
  padding-top: 1.92rem;
}
.btn-two .btn-fix {
  padding: 0.18666667rem 0.4rem;
  border-top: 1px solid #e5e5e5;
  background: #fff;
}
.btn-two .btn-fix .btn-tell {
  background: #fff;
  margin-right: 0.13333333rem;
  width: 130px;
  border: 1px solid #e7e7e9;
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
  line-height: 1.25333333rem;
  display: block;
  text-align: center;
  color: #000;
}
.btn-two .btn-fix .btn-tell:active {
  background: #dedede;
}
.btn-two .btn-fix .btn-radius {
  -webkit-border-radius: 0.21333333rem;
  -moz-border-radius: 0.21333333rem;
  -ms-border-radius: 0.21333333rem;
  -o-border-radius: 0.21333333rem;
  border-radius: 0.21333333rem;
}
.btn-bottom1 .select-right-con {
  text-align: right;
  flex: 1;
  -webkit-box-flex: 1;
  color: #ce3b28;
  display: block;
}
.btn-bottom1 .in-text {
  text-align: right;
}
.btn-fix .btn-chloice-list {
  color: #007aff ;
  font-size: 14px;
}
.btn-fix .btn-chloice-list:after {
  position: absolute;
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 1.5rem;
  top: 50%;
  margin-top: -6px;
}
.btn-bottom .btn,
.btn-bottom1 .btn {
  display: block;
}
.btn-bottom .btn-fix-tab .price-left {
  padding: 0 0.8rem 0 1.5rem;
  font-size: 15px;
  line-height: 20px;
}
.btn-bottom .btn-fix-tab .btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 124;
}
.btn-bottom .btn-fix-tab.disabled .btn {
  background: #a0a0a0;
}
.btn-bottom .btn-a0a0a0 {
  background: #a0a0a0;
}
.btn-bottom .btn {
  display: block;
}
/* 底部固定按钮]] */
/* 表单[[ */
input::-webkit-input-placeholder {
  color: #afafaf;
}
/* 输入框 */
.in-text,
.in-date,
.input-time {
  border: 0;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 1.01333333rem;
  line-height: 1.01333333rem;
  font-size: 0.4rem;
  background: #fff;
  position: relative;
}
.bg-opacity7 {
  background: rgba(27, 27, 27, 0.7);
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}
.inp-text {
  border: 1px solid #b5b5b5;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4.4rem;
  line-height: 4.4rem;
  font-size: 1.5rem;
  background: #fff;
  padding-left: 1.3rem;
  box-sizing: border-box;
}
/*.inp-textarea{resize: none;border-radius: 4px; border:1px solid #b5b5b5;width: 100%; -webkit-appearance: none; appearance: none;height: 4.4rem;line-height: 22px;  font-size: 1.5rem;  background: #fff;padding:0 1.3rem; }
.btn-ce3b28{ background:#ce3b28; width: 21.5rem; height: 4.8rem; display: inline-block; color: #fff;font-size: 1.5rem; line-height: 4.8rem;text-align: center;border-radius: 1.5rem; }
.btn-ce3b28:active{ background:#9b2415; }

*/
/*.form-wrap {  margin-bottom: 10px;}*/
.mod-form {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background-color: #fff;
  padding-left: 0.4rem;
  font-size: 0.4rem;
}
.mod-form .form-line {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  padding: 0.18666667rem 0.4rem 0.18666667rem 0;
  border-bottom: 1px solid #e7e7e9;
}
.mod-form .form-line:last-child {
  border-bottom: none;
}
.mod-form .form-label {
  display: inline-block;
  width: 2.53333333rem;
  color: #000;
  line-height: 1.01333333rem;
  white-space: nowrap;
  position: relative;
}
.mod-form .form-element {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.mod-form .form-line.line-important .form-label,
.mod-form .form-line.line-important .form-element,
.mod-form .form-line.line-important .in-text {
  color: #ce3b28;
}
.mod-form .form-line.line-important .form-label::-webkit-input-placeholder,
.mod-form .form-line.line-important .form-element::-webkit-input-placeholder,
.mod-form .form-line.line-important .in-text::-webkit-input-placeholder {
  color: #ce3b28;
}
.mod-form .form-text {
  line-height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod-form .form-code {
  display: block;
  padding: 0 0.26666667rem;
  height: 0.69333333rem;
  line-height: 0.69333333rem;
  color: #5890ff;
  border: 1px solid #5890ff;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
  text-align: center;
  font-size: 0.34666667rem;
  margin-top: 0.05333333rem;
}
.mod-form .form-code:active {
  background: #5890ff;
  color: #fff;
}
.mod-form .form-code.disabled {
  background: #d6d6d6;
  color: #fff;
  border-color: #d6d6d6;
}
.mod-form .form-link > a {
  display: block;
  position: relative;
  color: #afafaf;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mod-form .form-link > a.link-fill {
  color: #000;
}
.mod-form .form-link > a:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: #a0a0a0 #a0a0a0 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 2px;
  top: 11px;
}
.mod-form .form-date {
  position: relative;
}
.mod-form .form-date:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #a0a0a0 #a0a0a0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
  right: 2px;
  top: 10px;
}
.mod-form .form-select {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  line-height: 32px;
}
.mod-form .form-select .select-diy {
  height: 32px;
  line-height: 32px;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.mod-form .form-select .select-diy .select-diy-text {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
  padding-right: 23px;
  font-size: 15px;
  color: #1e1e1e;
}
.mod-form .form-select .select-diy .select-diy-text.text-default {
  font-size: 16px;
  color: #1e1e1e;
}
.mod-form .form-select .select-diy .select-diy-text:after {
  content: ' ';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent transparent #a0a0a0 #a0a0a0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  right: 2px;
  position: absolute;
  top: 10px;
}
.mod-form .form-select .select-diy select {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  width: 100%;
  opacity: 0;
  -webkit-appearance: textfield;
  appearance: textfield;
  outline: none;
  text-align: right;
  color: #1e1e1e;
  font-size: 15px;
}
.mod-form .focus-error .form-label,
.mod-form .focus-error .in-text {
  color: #ce3b28;
}
/*list module*/
.select-arrow,
.select-list-arrow,
.select-no-arrow,
.select-list-city,
.select-list-ins {
  background: #fff;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.select-arrow li,
.select-list-arrow li,
.select-no-arrow li,
.select-list-city li,
.select-list-ins li {
  position: relative;
  border-top: 1px solid #e7e7e7;
  min-height: 0.85333333rem;
  padding: 0.26666667rem 0.4rem;
  font-size: 0.4rem;
  display: -webkit-box;
  display: flex;
  color: #000000;
  -webkit-align-items: center;
  -webkit-box-align: center;
}
.select-list-arrow li {
  color: #000;
  min-height: 0.85333333rem;
}
.select-no-arrow li {
  color: #000;
}
.select-arrow li:nth-child(1),
.select-list-arrow li:nth-child(1),
.select-list-city li:nth-child(1),
.select-list-ins li:nth-child(1) {
  border-top: 0;
}
.select-list-arrow .arrow-right {
  padding-right: 0.4rem;
  opacity: 0.4;
}
.my-info-box .select-arrow li:nth-last-child(1) {
  border-bottom: 1px solid #e7e7e7;
}
.my-info-box .select-arrow {
  border-bottom: none;
}
.select-arrow .gap-left li,
.select-no-arrow .gap-left li,
.select-list-ins .gap-left li,
.select-list-arrow .gap-left li,
.select-list-city .gap-left li {
  margin-left: 0.4rem;
  padding: 0.26666667rem 0.4rem 0.26666667rem 0;
}
.select-arrow .gap-left-right li,
.select-list-arrow .gap-left-right > li,
.select-list-city .gap-left-right li {
  margin: 0 0.4rem;
  padding: 0;
}
.select-no-arrow li:last-child {
  border: none;
}
.select-list-city > .gap-left li {
  padding: 0.26666667rem 0.4rem 0.26666667rem 0;
}
.select-arrow li:after,
.select-list-arrow li:after {
  content: ' ';
  display: inline-block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #a0a0a0 #a0a0a0 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.4rem;
  margin-top: -0.10666667rem;
  /*transform-origin: center center; */
}
.select-arrow .gap-left-right li:after,
.select-list-arrow .gap-left-right li:after {
  right: 0;
}
.select-name {
  padding-left: 0.4rem;
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 0.26666667rem;
  background-color: #fff;
}
/*public icon */
.icon,
.icon-logo-zs,
.icon-phone-white,
.icon-phone-green,
.icon-coupon-used,
.result-ico,
.icon-iphone-login,
.icon-password,
.icon-close,
.icon1,
.icon2,
.icon-mypeople,
.icon-no-coupon,
.icon-no-order,
.voucher-expire:after,
.voucher-used:after {
  background: url(../images/icon.png) no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-size: 8rem 8rem;
}
.icon1 {
  background-position: -4.21333333rem 0;
  width: 1.22666667rem;
  height: 1.22666667rem;
}
.icon2 {
  background-position: -5.54666667rem 0;
  width: 1.22666667rem;
  height: 1.22666667rem;
}
.icon-no-coupon {
  width: 2.34666667rem;
  height: 2.34666667rem;
  background-position: 0 -2.93333333rem;
  display: block;
  margin: 0 auto 0.42666667rem;
}
.icon-no-order {
  width: 2.34666667rem;
  height: 2.34666667rem;
  background-position: -4.8rem -2.93333333rem;
  display: block;
  margin: 0 auto 0.42666667rem;
}
.icon-mypeople {
  background-position: -4.66666667rem -2.02666667rem;
  width: 0.61333333rem;
  height: 0.61333333rem;
}
.icon-logo-zs {
  background-position: -1.17333333rem -2.02666667rem;
  width: 0.48rem;
  height: 0.4rem;
  margin-right: 0.16rem;
}
.icon-tipico-ok {
  width: 2rem;
  height: 2rem;
}
.icon-tipico-monney {
  width: 2rem;
  height: 2rem;
  background-position: -2.02666667rem 0;
}
.icon-phone-white {
  width: 0.50666667rem;
  height: 0.50666667rem;
  background-position: 0 -2.02666667rem;
  margin-right: 0.26666667rem;
}
.icon-phone-green {
  width: 0.50666667rem;
  height: 0.50666667rem;
  background-position: -0.58666667rem -2.02666667rem;
  margin-right: 0.26666667rem;
}
.icon-iphone-login {
  width: 0.42666667rem;
  height: 0.69333333rem;
  background-position: -1.92rem -2.02666667rem;
  position: absolute;
  left: 0.18666667rem;
  top: 50%;
  margin-top: -0.34666667rem;
}
.icon-password {
  width: 0.66666667rem;
  height: 0.48rem;
  background-position: -3.2rem -2.02666667rem;
  position: absolute;
  left: 0.08rem;
  top: 50%;
  margin-top: -0.24rem;
}
.icon-close {
  width: 0.58666667rem;
  height: 0.58666667rem;
  background-position: -2.53333333rem -2.02666667rem;
  position: absolute;
  right: 0.13333333rem;
  top: 50%;
  margin-top: -0.29333333rem;
}
.icon-coupon-used {
  width: 2.29333333rem;
  height: 2.29333333rem;
  right: 0.4rem;
  top: 0.45333333rem;
  position: absolute;
  background-position: -2.4rem -2.93333333rem;
}
/* 结果提示[[ */
.tip-result {
  background: #fff;
  padding: 0.53333333rem;
  text-align: center;
}
.tip-result .btn {
  width: 100%;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
}
.tip-result .result-ico {
  display: block;
  margin: 0.48rem auto 0.58666667rem;
}
.tip-result .result-hd {
  color: #000;
  font-size: 0.4rem;
}
.tip-result .result-price {
  font-size: 0.96rem;
  color: #3b5999;
  margin-top: 0.37333333rem;
}
.tip-result .result-info {
  line-height: 0.53333333rem;
  margin-top: 0.74666667rem;
  color: #969696;
  font-size: 0.34666667rem;
}
.tip-result .result-info1 {
  line-height: 0.53333333rem;
  margin-top: 0.4rem;
  color: #969696;
  font-size: 0.34666667rem;
}
/* 结果提示]] */
/*城市选择*/
.select-list-city .arrow-right {
  padding-right: 0.4rem;
  opacity: 0.4;
}
.select-list-city li {
  position: relative;
  color: #000;
}
.select-list-city .arrow {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.4rem;
  margin-top: -0.10666667rem;
}
.icon-blue-hook {
  display: inline-block;
  border-style: solid;
  width: 0.42666667rem;
  height: 0.21333333rem;
  border-color: #5890ff #5890ff transparent transparent;
  border-width: 2px ;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -0.21333333rem;
  position: absolute;
  top: 50%;
  right: 0.4rem;
}
.icon-triangle-up,
.icon-triangle-down {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 12px solid #e7e7e9;
  position: absolute;
  right: 0.4rem;
  top: 50%;
  margin-top: -0.16rem;
}
.icon-triangle-down {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.select-list-city li:last-child {
  border-bottom: none;
}
.select-list-city li:active {
  background: rgba(0, 0, 0, 0.1);
}
.select-name li {
  padding: 0.4rem 0.4rem 0.4rem 0;
  border-bottom: 1px solid #e7e7e9;
  position: relative;
}
.select-name li a {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.select-name li:last-child,
.btn-bottom1 .select-no-arrow li:last-child {
  border-bottom: none;
}
.select-name .name-line,
.select-name .addr-line {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #000;
  font-size: 0.4rem;
}
.ico-arrow,
.ico-arrow-up {
  content: ' ';
  display: inline-block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #8e8e93 #8e8e93 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 0.4rem;
}
.ico-arrow-up {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.form-input-time .ico-arrow-up {
  position: absolute;
  right: 0.08rem;
  top: 50%;
  margin-top: -0.21333333rem;
}
.list-ins-li {
  padding: 0;
}
.list-ins-li ul {
  width: 100%;
}
.select-list-ins .gap-left .list-ins-li {
  padding: 0;
}
.select-list-ins .list-ins-li li {
  margin-left: 0;
  padding-left: 0.4rem;
}
.select-list-ins .list-ins-li .gap-left-right li {
  margin-left: 0.64rem;
  margin-right: 0.64rem;
  padding-left: 0.4rem;
}
.title-bar {
  font-size: 0.34666667rem;
  line-height: 0.8rem;
  padding-top: 0.4rem;
  color: #000;
  opacity: 0.7;
  text-indent: 0.4rem;
}
/*active*/
.active-box {
  min-height: 100%;
  background: #d84242;
  padding-bottom: 0.53333333rem;
}
/*.active-box img{width: 375/@w;height: 304/@w;}*/
.btn-fde100-shadow {
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
  box-shadow: 0 0.05333333rem 0 0 #a5270f;
  background: #fde100;
  display: block;
  color: #541313;
  font-size: 0.4rem;
  text-align: center;
  margin: 0.4rem auto 0.53333333rem;
}
.btn-fde100-shadow:active {
  background: #ecb306;
}
.prestore-rule {
  padding: 0 0.4rem;
  position: relative;
}
.prestore-rule:before {
  background: url(../images/active3.png) no-repeat;
  position: absolute;
  content: "";
  z-index: 12;
  left: 0.72rem;
  top: -0.16rem;
  width: 2.45333333rem;
  height: 0.50666667rem;
  background-size: 100% 100%;
}
.prestore-rule .prestore-img {
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  overflow: hidden;
  padding-bottom: 0.32rem;
  position: relative;
  background: #fff;
}
.prestore-con ul {
  padding: 0.77333333rem 0 0.32rem;
  position: relative;
  z-index: 12;
}
.prestore-con {
  padding: 0 0.69333333rem;
  position: relative;
  z-index: 11;
}
.prestore-con:before {
  background: url(../images/active2.png) no-repeat;
  background-size: 100% 100%;
  height: 10.74666667rem;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 0;
}
.prestore-con li {
  line-height: 0.53333333rem;
}
.prestore-con .vouchers {
  margin-bottom: 0.21333333rem;
  border: 1px solid #efefef;
  border-bottom: 0.10666667rem solid #5890ff;
  height: 1.73333333rem;
}
.prestore-con .vouchers .name {
  line-height: 1.73333333rem;
}
.prestore-con .vouchers .ps-r {
  top: 0.32rem;
}
.vouchers {
  margin-bottom: 0.26666667rem;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-bottom: 0.10666667rem solid #5890ff;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  height: 2.08rem;
}
.vouchers .name {
  padding: 0 0.32rem;
  display: inline-block;
  line-height: 2.08rem;
}
.vouchers .ps-r {
  position: absolute;
  color: #5890ff;
  right: 0.32rem;
  top: 0.4rem;
  z-index: 6;
}
.commit-inquiry {
  min-height: 100%;
  background: #fff;
}
/*优惠券*/
/*卡券*/
.coupon-info {
  background: #3b5999;
  min-height: 100%;
  font-size: 0.34667rem;
  color: #000;
  padding: 1.06667rem 0.53333333rem;
}
.coupon-info .coupon-sec1 {
  background: #fff;
  border-radius: 0.10667rem;
  position: relative;
}
.coupon-info .coupon-sec1 .logo-img {
  width: 1.06666667rem;
  height: 1.06666667rem;
  border-radius: 100%;
  left: 50%;
  top: -0.53333333rem;
  position: absolute;
  margin-left: -0.53333333rem;
}
.coupon-sec1 h2 {
  font-size: 0.8rem;
}
.coupon-sec1 .coupon-con1 {
  padding: 1.49333333rem 0.4rem 0.8rem 0.4rem;
  text-align: center;
  position: relative;
}
.coupon-con1 .p1 {
  font-size: 0.34666667rem;
  margin: 0.74667rem 0 0.64rem;
}
.coupon-con1 .p2 {
  line-height: 0.4rem;
  margin: 0.53333333rem 0 0.10666667rem;
}
.coupon-con1 .p3 {
  opacity: 0.4;
}
.btn-ce3b28 {
  background: #ce3b28;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 0.05333rem;
}
.btn-ce3b28:active {
  background: #9b2415;
}
.btn-a0a0a0 {
  background: #a0a0a0;
  color: #fff;
  display: inline-block;
  text-align: center;
  border-radius: 0.05333rem;
}
.w160-h34 {
  width: 4.26667rem;
  height: 0.90667rem;
  line-height: 0.90667rem;
}
.coupon-con2 {
  position: relative;
}
.coupon-con2 mark {
  position: relative;
  line-height: 1px;
  border-top: 1px dashed #e7e7e9;
  background: initial;
  display: block;
  font-size: 0.34667rem;
}
.coupon-con2 mark em {
  display: block;
  opacity: 0.4;
  border-bottom: 1px solid #e7e7e9;
  padding: 0 0.4rem;
  height: 1.06667rem;
  line-height: 1.06667rem;
}
.coupon-con2 mark:before {
  z-index: 2;
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #3b5999;
  left: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.coupon-con2 mark:after {
  z-index: 2;
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #3b5999;
  right: -0.05333rem;
  top: -0.13333rem;
  position: absolute;
}
.coupon-con2 .content {
  line-height: 0.53333rem;
  padding: 0.53333rem 0.4rem;
}
.attention-info {
  background: #fff;
  text-align: center;
  padding: 0.53333333rem 0 0 0;
}
.attention-info .title1 {
  color: #000;
  font-size: 0.34667rem;
  line-height: 0.61333rem;
  text-align: center;
  margin-bottom: 0.32rem;
}
.attention-weixin-er {
  position: relative;
  width: 190px;
  height: 190px;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0.08rem;
}
.attention-weixin-er img {
  width: 190px;
  height: 190px;
}
.attention-weixin-er .ico-service {
  background-position: -5.33333rem 0;
  width: 1.06667rem;
  height: 1.06667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.53333rem;
}
.attention-weixin-er .ico-discount {
  background-position: -7.73333rem 0;
  width: 1.06667rem;
  height: 1.06667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -0.53333rem;
}
.select-list-img li,
.select-listarrow-img li {
  padding: 0.53333333rem 0.4rem 0.53333333rem 0.4rem;
  text-align: left;
}
.select-list-img li > a,
.select-listarrow-img li > a {
  display: table;
  position: relative;
  min-height: 0.8rem;
  width: 100%;
  color: #000;
}
.select-list-img .select-detail,
.select-listarrow-img .select-detail {
  display: table-cell;
  vertical-align: middle;
  font-size: 0.4rem;
  margin-right: 0.53333rem;
  line-height: 0.69333rem;
}
.select-listarrow-img li > a:after {
  content: ' ';
  display: inline-block;
  width: 0.21333rem;
  height: 0.21333rem;
  border-width: 1px;
  border-style: solid;
  border-color: #a0a0a0 #a0a0a0 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -0.16rem;
  transform-origin: top center;
}
.select-img {
  padding-right: 0.4rem;
  display: table-cell;
  width: 1.65333333rem;
  vertical-align: middle;
}
.select-list-img .select-detail p,
.select-listarrow-img .select-detail p {
  width: 6.29333333rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select-list-img .select-detail p:nth-child(2),
.select-listarrow-img .select-detail p:nth-child(2) {
  opacity: 0.7;
  font-size: 0.34667rem;
}
.voucher-sec {
  padding-bottom: 0.53333333rem;
}
.voucher-art {
  margin-top: 0.53333333rem;
}
.voucher-art h2 {
  border-radius: 0.10666667rem 0.10666667rem 0 0;
  line-height: 0.88rem;
  padding: 0 0.4rem;
  background: #3b5999;
  color: #fff;
  font-size: 0.34666667rem;
}
.voucher-art h2 b {
  opacity: 0.7;
  font-weight: normal;
  vertical-align: middle;
}
.voucher-art.voucher-expire h2,
.voucher-art.voucher-used h2 {
  background: #ccc;
}
.voucher-art.voucher-expire .voucher-detail p,
.voucher-art.voucher-used .voucher-detail p {
  opacity: 0.5;
  color: #000;
}
.voucher-expire,
.voucher-used {
  position: relative;
}
.voucher-expire:after {
  position: absolute;
  content: "";
  right: 1.33333333rem;
  bottom: 1.2rem;
  width: 1.6rem;
  height: 1.6rem;
  background-position: 0 -5.41333333rem;
  z-index: 300;
}
.voucher-used:after {
  position: absolute;
  content: "";
  right: 1.33333333rem;
  bottom: 1.2rem;
  width: 1.6rem;
  height: 1.6rem;
  background-position: -1.73333333rem -5.41333333rem;
  z-index: 300;
}
.voucher-expire .voucher-info > a:after {
  display: none;
}
.voucher-info {
  border-radius: 0 0 0.10666667rem 0.10666667rem;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.voucher-time {
  position: relative;
  border-top: 1px dashed #e7e7e9;
  padding: 0 0.4rem;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.voucher-time:before {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #eee;
  left: -0.05333333rem;
  top: -0.13333333rem;
  position: absolute;
}
.voucher-time:after {
  content: "";
  width: 0.24rem;
  height: 0.24rem;
  border-radius: 100%;
  background: #eee;
  right: -0.05333333rem;
  top: -0.13333333rem;
  position: absolute;
}
.voucher-time span {
  color: #000;
  opacity: 0.4;
}
.voucher-time span em {
  opacity: 0.4;
}
.voucher-time .num {
  width: 1.06666667rem;
  display: inline-block;
  padding-right: 1px;
}
.voucher-sec .voucher-art {
  padding: 0 0.4rem;
}
.voucher-info > a {
  position: relative;
  min-height: 0.8rem;
  padding: 0.42666667rem 0.4rem 0.42666667rem 0.4rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
}
.voucher-info > a:after {
  content: ' ';
  display: inline-block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  border-width: 2px;
  border-style: solid;
  border-color: #a0a0a0 #a0a0a0 transparent transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  right: 0.4rem;
  margin-top: -0.10666667rem;
  transform-origin: top center;
}
.voucher-art .bg {
  position: relative;
  z-index: 5;
  background: #fff;
  border-radius: 0 0 0.10666667rem 0.10666667rem;
  overflow: hidden;
}
.voucher-detail .voucher-style {
  color: #3b5999;
  font-size: 0.4rem;
  padding: 0 0.4rem 0.26666667rem 0;
}
.list-flex-noline {
  background-color: #fff;
  padding: 0.26666667rem 0 0.26666667rem 0.4rem;
}
.list-flex-noline .detail-hd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0.10666667rem 0.4rem 0.10666667rem 0;
  line-height: 0.42666667rem;
  font-size: 0.4rem;
}
.list-total {
  text-align: right;
  padding: 0.4rem;
  overflow: hidden;
  zoom: 1;
}
.list-total ul {
  float: right;
  overflow: hidden;
}
.list-total li {
  overflow: hidden;
  margin: 0.18666667rem 0;
}
.list-total li #discount {
  font-style: normal;
}
.list-total li span {
  float: left;
  width: 4.42666667rem;
  text-align: right;
  margin-right: 0.53333333rem;
}
.list-total li.fs15 {
  font-size: 0.4rem;
}
.list-flex-noline .detail-hd .detail-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 6px;
  opacity: 0.4;
}
.list-flex-title {
  background-color: #fff;
  /*padding: 0 0 10/@w 15/@w;*/
  height: 1.73333333rem;
  border-bottom: 1px solid #e7e7e9;
}
.list-flex-title .detail-hd {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  padding: 0 0.4rem 0 0;
  line-height: 1.73333333rem;
  font-size: 0.34666667rem;
}
.list-flex-title .detail-hd.fs15 {
  font-size: 0.4rem;
}
.list-flex-title .detail-hd .detail-name {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*margin-right: 6px;*/
}
.list-flex-title .detail-hd .detail-name .color {
  text-decoration: underline;
}
.list-flex-title .detail-hd .detail-name .hb {
  border-left: 0.10666667rem solid #5890ff;
  padding-left: 0.29333333rem;
}
.list-total-con {
  padding: 0 0.4rem;
}
.insurance-content {
  border-bottom: 1px solid #e7e7e9;
  margin-left: 0.4rem;
}
.insurance-content .detail-hd {
  font-size: 0.34666667rem;
  opacity: 0.4;
}
.order-sec {
  background: #fff;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
}
.order-sec .select-listarrow-img li > a:after {
  right: 0.4rem;
}
.order-sec .list-flex-noline .detail-hd {
  padding: 0.10666667rem 0.4rem 0.10666667rem 0;
}
.order-sec .select-listarrow-img {
  margin-left: 0.4rem;
  border-top: 1px solid #ddd;
}
.order-sec .select-listarrow-img li {
  padding: 0.53333rem 0 0.53333rem 0;
}
.detail-pay .grap-left {
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  background: #fff;
}
.detail-pay .grap-left .list-flex-title {
  margin-left: 0.4rem;
}
.detail-pay .grap-left .list-flex-title:nth-last-child(1) {
  border-bottom: none;
}
/*.detail-pay .select-list-img{ li{padding: 11/@w 0.4rem 11/@w 0.4rem;}background: #fff;.select-img{width: 57/@w;height: 44/@w; .imgauto{width: 57/@w;height: 44/@w;}} }

*/
.detail-pay .select-list-img {
  background: #fff;
}
.pay-bg-dfe4f0 {
  background: #dfe4f0;
  height: 1.06666667rem;
  line-height: 1.06666667rem;
  text-align: center;
}
/* 我的 订单详情[[ */
.order-state {
  background-color: #fff;
  padding-left: 0.4rem;
  border-top: 1px solid #e7e7e9;
  border-bottom: 1px solid #e7e7e9;
  margin-bottom: 0.26666667rem;
}
.order-state .state-hd {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.4rem;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  border-bottom: 1px solid #e7e7e9;
  padding-right: 0.4rem;
}
.order-state .state-hd .order-num {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.4rem;
}
.order-state .state-hd .service-txt {
  opacity: 0.4;
  float: right;
  font-size: 13px;
  color: #000;
}
.order-state .state-info {
  color: #000;
  opacity: 0.7;
  padding: 0.42666667rem 0;
}
.order-state .state-info li {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.18666667rem;
}
.order-state .state-info li:last-child {
  margin-bottom: 0;
}
.order-state .state-info li .info-label {
  /*width: 68/@w;*/
  /*text-align: right;*/
}
.order-state .state-info li .info-cont {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-right: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*小图标和文字列表居中*/
.tab-row-list {
  border-bottom: 1px solid #e9e9eb;
  padding: 0 1.04rem;
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  background: #fff;
}
.tab-row-list .icon {
  margin-bottom: 0.13333333rem;
}
.tab-row-list li {
  -webkit-box-flex: 1;
  padding: 0.26666667rem 0;
  font-size: 0.29333333rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #737373;
  overflow: hidden;
  text-align: center;
}
.tab-row-list li:active {
  background-color: rgba(115, 115, 115, 0.1);
}
.index-box {
  padding-bottom: 0.26666667rem;
}
.renewal-four-s {
  background: #fff;
  position: relative;
}
.renewal-four-s .select-list-img {
  padding: 0 1.04rem 0.26666667rem;
}
.renewal-four-s .select-list-img li {
  padding: 0.26666667rem 0;
}
.renewal-four-s .select-list-img .con-b {
  opacity: 0.7;
  font-size: 0.29333333rem;
  line-height: 0.4rem;
  margin-top: 0.16rem;
}
.renewal-four-s .select-img {
  width: 2rem;
  height: 2.02666667rem;
  padding-right: 0.64rem;
}
.renewal-four-s .title {
  font-size: 0;
  border-top: 1px solid #e9e9eb;
  border-bottom: 1px solid #e9e9eb;
  padding: 0.21333333rem 0;
}
.renewal-four-s .title .icon {
  margin: auto;
  background-position: -4.21333333rem -1.33333333rem;
  width: 3.04rem;
  height: 0.45333333rem;
  display: block;
}
/*no-messages*/
.icon-coupon-used .time {
  font-size: 0.26666667rem;
  color: #ccc;
  display: block;
  -webkit-transform: rotate(-18deg);
  transform: rotate(-18deg);
  margin-top: 1.17333333rem;
  text-align: center;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
.data-messages-null {
  padding: 3.28rem 0;
  color: #ababab;
  text-align: center;
  font-size: 0.4rem;
}
/*服务条款*/
.intudeuce-box {
  padding: 0 15px 30px;
}
.intudeuce-box .title {
  font-size: 0.4rem;
  margin-top: 0.53333333rem;
  font-weight: normal;
  text-align: center;
}
.intudeuce-box .fc-999 {
  color: #999;
}
.intudeuce-dl dt {
  font-size: 0.34666667rem;
  margin: 0.45333333rem 0 0.26666667rem 0;
}
.intudeuce-dl dd,
.intudeuce-dl dd th,
.intudeuce-dl dd td {
  font-size: 0.29333333rem;
  line-height: 0.48rem;
}
.intudeuce-dl dd th,
.intudeuce-dl dd td {
  padding: 0.13333333rem;
  border-width: 1px 1px 1px 0;
  border-color: #b5b5b5;
  border-style: solid;
}
.intudeuce-dl dd th {
  background: #c9c9c9;
}
.intudeuce-dl dd td {
  background: #fff;
}
.intudeuce-table {
  border-collapse: collapse;
  border: 1px solid #b5b5b5;
  border-spacing: 0;
  width: 100%;
}
.intudeuce-div {
  margin-left: 0.4rem;
  line-height: 0.48rem;
}
/*login*/
.login-box {
  margin-top: 0.26666667rem;
}
.login-box .form-label {
  width: 1.22666667rem;
}
.login-btn {
  position: relative;
}
.login-btn .btn {
  left: 0.56rem;
  right: 0.56rem;
  top: 0.53333333rem;
  position: absolute;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
}
.bg-filter {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  z-index: 125;
  overflow: hidden;
}
.tip-filter-box {
  z-index: 126;
  border-radius: 0.21333333rem;
  background: #fff;
  padding: 0.21333333rem 0 0.21333333rem 0;
  position: fixed;
  width: 84%;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  margin: 0 -42%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  /*  display: box;
  display: -webkit-box;
  display: -moz-box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;*/
}
.tip-login .tip-filter-box {
  padding: 20px;
}
.tip-login .tip-filter-box .title {
  text-align: center;
  font-size: 0.4rem;
  margin: 0.98666667rem 0 1.12rem;
}
.btn-confirm {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  margin-left: -0.13333333rem;
}
.btn-confirm .btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 0.13333333rem;
  display: block;
  box-sizing: border-box;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
}
.btn-confirm .btn-cancel {
  background: #fff;
  border: 1px solid #3b5999;
  color: #3b5999;
}
.tip-ins-box .list-ins-li {
  max-height: 9.6rem;
  overflow: auto;
}
.mistip {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  text-align: center;
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
}
.mistip span {
  padding: 15px 10px;
  font-size: 15px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  display: block;
  line-height: 1.5;
}
.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
.my-menu {
  position: fixed;
  right: 0.13333333rem;
  bottom: 0.18666667rem;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0.4rem;
  -webkit-border-radius: 0.05333333rem;
  -moz-border-radius: 0.05333333rem;
  -ms-border-radius: 0.05333333rem;
  -o-border-radius: 0.05333333rem;
  border-radius: 0.05333333rem;
}
.my-menu a {
  display: block;
  line-height: 1.17333333rem;
  width: 1.84rem;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #858585;
}
.my-menu a:active {
  background: rgba(0, 0, 0, 0.3);
}
.my-menu .my-ul li:nth-last-child(1) a {
  border-bottom: none;
}
/*.my-menu li:nth-child(1) a{
 -webkit-border-radius: 2/@w 2/@w  0 0;
-moz-border-radius: 2/@w  2/@w 0 0;
-ms-border-radius: 2/@w 2/@w 0 0;
-o-border-radius: 2/@w 2/@w 0 0;
border-radius: 2/@w 2/@w 0 0;
}

*/
footer.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0.26666667rem;
  text-align: center;
  color: #b8b8b8;
  font-size: 0.29333333rem;
}
.icon-prestore {
  background: url(../images/prestore_bg.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.30666667rem;
  height: 3.36rem;
  background-size: 100%;
  z-index: 1;
}
.w150-h36 {
  width: 4rem;
  height: 0.96rem;
  line-height: 0.96rem;
}
.fs10 {
  font-size: 0.26666667rem;
}
.fs11 {
  font-size: 0.29333333rem;
}
.fs24 {
  font-size: 0.64rem;
}
.fs28 {
  font-size: 0.74666667rem;
}
/*# sourceMappingURL=global.css.map */